@{ Layout = null; }
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Jay VanOrd, MCP: Full Stack Engineer and Architect</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<meta name="description" content="Jay VanOrd, MCP: Full Stack Engineer and Architect, Expert ASP.NET Web Applications Developer and Consultant" />
	<meta name="keywords" content=".NET Programming,C#,ASP.NET (WebForms and MVC),LINQ,ActiveX Data Objects,LINQ-to-SQL (L2S),Entity Framework (EF),Web API and REST Web Services,Hypertext Markup Language,JavaScript,jQuery,AJAX,Cascading Style Sheets,Responsive Web Design,LESS Stylesheet Language,Chrome Developer Tools,Internet Information Server (IIS),Microsoft Azure Cloud Services,SQL Server and T-SQL,N-Tier and Layered Software Architecture,Object-Oriented Design (OOD/OOP) and SOLID Principles,Software Design Patterns,Business Analysis,SOAP Web Services,Visual Studio,Subversion (SVN),Team Foundation Services,Agile and SCRUM Project Management,Waterfall SDLC Project Management,Visual BASIC,Extensible Markup Language,Classic ASP,Android App Development" />
	<link type="text/css" rel="Stylesheet" href="@Url.Content("~/styles/resume.css")" />
	<link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/images/jay/favicon-32x32.png")">
	<link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/resources/jay/favicon-96x96.png")">
	<link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/resources/jay/favicon-16x16.png")">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/redmond/jquery-ui.min.css" />

</head>
<body>

	<header id="identity" class="page">
		<img src="@Url.Content("~/images/jay/jay.jpg")" alt="Photo of Jay"/>
		<h1>Jay VanOrd, MCP</h1>
		<h2>Founder @@ Indasys LLC</h2>
		<ul id="links">
			<li>
				<a href="http://stackoverflow.com/cv/jvanord" target="_blank">StackOverflow</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/jay-vanord-97690222" target="_blank">Linked-In</a>
			</li>
		</ul>
	</header>

	<div id="content" class="page">
		<h1>Full Stack Engineer and Architect</h1>
		<div id="introduction">
			<p>
				I am an experienced and highly skilled Full Stack Engineer and Architect 
				specializing in the creation of robust, reliable, and scalable Web Applications and Cloud Services on Microsoft’s ASP.NET platform. 
				My proficiencies include  <span class="code">ASP.NET</span>,  <span class="code">C#</span>,  <span class="code">HTML5</span>,  <span class="code">CSS3</span>, 
				 <span class="code">jQuery</span>,  <span class="code">SQL</span>,  <span class="code">Software Architecture</span>,  <span class="code">Responsive Design</span>, 
				and many more. 
			</p>
			<p>
				I started my programming career in high school writing <span class="code">BASIC</span> programs for the TRS-80 and have evolved in my career ever since. 
				In 2011 I founded my current consulting and custom software company, <a href="http://www.indasysllc.com/">Indasys, LLC</a>. 
				As an autodidact and technology enthusiast, I continue to learn and keep current on many of the latest developments and technologies 
				that regularly emerge in the field.
			</p>
			<p>
				My goal is to help lead the drive toward the next generation of Web and Cloud Applications.
			</p>
		</div>
		<section id="benefits">
			<h2>Some of the Many Ways I Can Help Your Team</h2>
			<ul id="benefits-list">
				<li>Migrating your  <span class="code">ASP.NET WebForms</span> (ASPX) application to  <span class="code">ASP.NET MVC</span>, or a hybrid that integrates both technologies</li>
				<li>Architecting and building a  <span class="code">REST API</span> for a backend Cloud Service that supports multiple applications on diverse platforms</li>
				<li>Working with your team to understand and implement the latest software tools and technologies</li>
				<li>Discover and analyze your business needs and translate those requirements into a robust, scalable, and maintainable software architecture</li>
			</ul>
		</section>
		<section id="skills">
			<h2>
				Technical Skills
			</h2>
			<ul>
				<li>.NET</li>
				<li>C#</li>
				<li>Visual Basic</li>
				<li>ASP.NET MVC</li>
				<li>ASP.NET WebForms</li>
				<li>REST/RESTful API</li>
				<li>Web API 2</li>
				<li>HTML </li>
				<li>HTML5</li>
				<li>JavaScript</li>
				<li>jQuery</li>
				<li>AJAX</li>
				<li>Kendo UI</li>
				<li>Knockout.js</li>
				<li>Angular.js</li>
				<li>LINQ</li>
				<li>Entity Framework</li>
				<li>LINQ-to-SQL</li>
				<li>SDLC Project Management</li>
				<li>Agile</li>
				<li>Scrum</li>
				<li>Waterfall</li>
				<li>Mentoring</li>
				<li>SVN</li>
				<li>VSTS</li>
				<li>TFS</li>
				<li>Git</li>
				<li>Azure</li>
				<li>SQL Server</li>
				<li>Layered Software Architecture</li>
				<li>OOD/OOP</li>
				<li>SOLID Principles</li>
				<li>Design Patterns</li>
				<li>Visual Studio 2015</li>
				<li>ADO.NET</li>
				<li>XML</li>
				<li>XSLT</li>
				<li>SOAP</li>
				<li>SPA</li>
				<li>Bootstrap&trade;</li>
				<li>Responsive Design</li>
				<li>CSS</li>
				<li>LESS</li>
				<li>Requirements Analysis </li>
				<li>Document DB</li>
				<li>Azure Media Services</li>
				<li>IIS</li>
				<li>Classic ASP</li>
				<li>Source Safe</li>
				<li>Crystal Reports</li>
				<li>MS Access</li>
			</ul>
		</section>
		<section id="certifications">
			<h2>Certifications</h2>
			<ul id="certifications-list">
				<li>
					<span class="certification-name">Microsoft Certified Professional</span>
					(2003)
				</li>
			</ul>
		</section>
		<section id="experience">
			<h2>Professional Experience</h2>
			<ul id="experience-list">
				<li>
					<span class="position-title">Founder and Software Development Leader</span>
					<span class="position-company">Indasys LLC</span>
					<span class="position-dates">2011 - Present</span>
					<ul>
						<li>Took a leadership role in development and project management on a large-scale flagship product transitioning from client-server to web-based architecture</li>
						<li>Introduced Agile development methodology and tools for a major new development effort</li>
						<li>Developed a set of software components and framework extensions to enable more productive development</li>
						<li>Built a prototype web-based Point-of-Sale application as a Single-Page-Application (SPA) supported by a REST API</li>
						<li>Created a series of web-based productivity applications, including a unique project management system and an open-platform chat application</li>
						<li>Produced a series of application coding guidelines and conducted code reviews to help ensure their implementation</li>
						<li>Responsible for evaluation and selection of technologies, including front-end frameworks and ORM software, on several high-impact projects</li>
						<li>Lead redesign and development of an e-commerce application using ASP.NET MVC and Entity Framework</li>
						<li>Responsible for the drive toward modern development techniques for a suite of e-commerce applications, including Responsive Web Design (RWD) and mobile-friendly architecture</li>
						<li>Developed an early mobile site strategy implementing device detection and content redirection</li>
						<li>Supported major development and maintenance of an ERP-integrated e-commerce and CMS system</li>
						<li>Provided general consulting and coding on a large suite of SOAP-based web services</li>
						<li>Lead research and development efforts to explore new technologies and new products</li>
					</ul>
				</li>
				<li>
					<span class="position-title">Independent Developer / Consultant</span>
					<span class="position-company"></span>
					<span class="position-dates">2003 - 2011</span>
					<ul>
						<li>Provided guidance, consultation, analysis, development, and support for several unique and diverse software projects for a wide variety of clients, including Media Services Group, Bob’s Bees, Corrections Corporation of America, and many more
						<li>Designed, developed, and maintained a stand-alone Windows application based on an MS Access database for a State-directed resource office</li>
						<li>Created a redistributable suite of real-estate websites with back-office administrative features</li>
						<li>Built and maintained several web sites for small businesses, individuals, and community groups</li>
						<li>Worked directly with business clients to analyze business needs, develop solutions, and manage production, implementation, and maintenance of software products</li>
					</ul>
				</li>
				<li>
					<span class="position-title">Internet Team Leader</span>
					<span class="position-company">Libra, Inc.</span>
					<span class="position-dates">1999 - 2003</span>
					<ul>
						<li>Started as an entry-level Application Developer, left as Internet Team Leader</li>
						<li>Played an important role in the major re-development of their flagship software using the then-emerging .NET platform</li>
						<li>Helped the company achieve Microsoft Certified Partner status by obtaining a Microsoft Certified Professional certificate (on the first try)</li>
						<li>Researched and implemented W3C Web Content Accessibility Guidelines on applications for State government agencies where accessibility was a high-priority requirement</li>
						<li>Ported CD-ROM database applications to web portals for a number of University Press organizations</li>
					</ul>
				</li>
			</ul>
		</section>
		<section id="references">
			<h2>References</h2>
			<ul><li>Available upon request</li></ul>
		</section>
	</div>

	<footer>
		Copyright &copy;
		<span id="copyYear">2016</span>
		Jay VanOrd
	</footer>

	@*<script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"></script>*@

</body>
</html>
